
div > div > div > div > img {
    float: right;
}
.AuthorDate{
    margin-left: auto;
}
.flexbox{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
}
.time{
    color: grey;
}