.flexbox{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    grid-column: 1/span 7;
}
.likedPosts{
    grid-column: 5/span 3;
}
.profile{
    height: 100%;
}